html {
    font-size: 55%;
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}
.container {
    width: 95%;
}
.row .col.l10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
}
.row .col.l9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto;
}
.row .col.l8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
}
.row .col.l4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
}
.row .col.l3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
}
.row .col.l2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
}
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
    box-shadow: none;
    border: 1px solid #D7D7D7;
    border-bottom: 1px solid #A4A4A4;
}

.small-chip {
    font-size: 50%;
}