body a {
    color: #ff3d00;
}

.card-header {
    padding: 20px;
    border-radius: 2px 2px 0 0;
    background: url(../img/bg3.jpg);
    background-size: cover;
}
.card-header .card-title {
    font-size: 2.125rem;
}

.profile-item-icon {
    font-size: 1.64rem;
    line-height: 110%;
    margin: 0.82rem 0 0.656rem 0;
}

.section-icon {
    font-size: 2.92rem;
    line-height: 110%;
    margin: 1.46rem 0 1.168rem 0;
    font-weight: 400;
}

.work-location {
    font-size: 1rem;
}

.small-chip {
    height: 1.125rem;
    line-height: 1.125rem;
    font-size: 0.6875rem;
    padding: 0 0.75rem;
    margin-bottom: 0px;
}

.author {
    font-size: 75%;
}

ul.stack {
    margin: 1rem 0 0 2rem;
}
ul.stack li {
    list-style-type: square;
}