html {
    font-family: Helvetica, sans-serif;
}

body {
    background: url("/img/pexels-ignacio-palés-2882603.png") no-repeat center top !important;
}

.container > .row {
    padding-top: 8rem;
}

.card-header .avatar {
    margin-bottom: 0;
}
.card-header .avatar img {
    margin-top: -60px;
}
.card-header .card-title {
    font-size: 2.125rem;
}
.card-header .quote {
    font-size: 0.80rem;
    font-weight: lighter;
}

.card-content a {
}

.card-panel {
    padding: 24px 36px;
    text-align: justify;
}
.card-panel .h4:first-child {
    margin-top: 0;
}

.card-content .icon {
    #font-size: 200%;
    margin: 0 2rem;
    display: inline-flex;
    vertical-align: middle;
    width: 1.5rem;
}

.card-content .skills {
    padding-top: 1rem;
    text-align: center;
}
.card-content .skills img {
    width: 2rem;
    margin: 0 0.5rem;
}

.small-chip {
    height: 1.125rem;
    line-height: 1.125rem;
    font-size: 0.6875rem;
    padding: 0 0.75rem;
    margin-bottom: 0;
}

@media only screen and (max-width: 993px) {
    html {
        font-size: 28px;
    }
}
@media only screen and (max-width: 993px) {
    html {
        font-size: 28px;
    }
}